################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UML/.vs/UML/FileContentIndex/35a88c09-e78d-484d-8f26-92ab623474c5.vsidx
