################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UML/.vs/UML/FileContentIndex/35a88c09-e78d-484d-8f26-92ab623474c5.vsidx
/UML/.vs/
/UML/bin/
/ UML/obj/
/.vs/2022fa-420-C-Sharks/FileContentIndex/dfa77b7b-7521-436d-8531-6953c8e654e2.vsidx
/.vs/2022fa-420-C-Sharks/FileContentIndex/ca8ec8c8-42f2-48c0-8cd3-f27bf6eccb08.vsidx
/.vs/2022fa-420-C-Sharks/FileContentIndex/9d87f128-948a-4ad8-ae29-21395049b8d0.vsidx
/.vs/2022fa-420-C-Sharks/FileContentIndex/486b5435-0c88-44c9-9307-a61150087ce0.vsidx
/.vs/2022fa-420-C-Sharks/FileContentIndex/0c14df9b-65fe-491f-99c8-da152aa20284.vsidx
