################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/2022fa-420-C-Sharks/FileContentIndex
