@media (min-width: 768px) {
	html {
		font-size: 16px;
		padding: 5px;
	}
}

html {
	font-size: 20px;
	position: relative;
	min-height: 100%;
}

header {
	padding: 10px;
}

p {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 5px;
}

#toolbar {
	vertical-align: middle;
	max-height: 70px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	box-shadow: 1px #aaaaaa;
	
}

#colorPicker {
	justify-content: left;
	padding: 15px;
	color: white;
	font-weight: bold;

}

#myDiagramDiv {
	width: auto;
	height: 500px;
	background-color: #DAE4E4;
	border-radius: 5px;
}

.nav-item {
	color: white;
	font-size: 24px;
	padding: 0px 5px 0px;
}

.login-container {
	margin-left: auto;
	margin-right: 0;
}

.collapsible-container {
	margin-left: auto;
	margin-right: auto;
	padding: 10px 75px 10px 75px;
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 12px;
	width: 100%;
	border: none;
	border-radius: 5px;
	text-align: left;
	text-shadow: 1px 1px 2px #000000;
	outline: none;
	font-size: 20px;
	font-weight: bold;
}

	.active, .collapsible:hover {
		background-color: #555;
	}

.content {
	padding: 15px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
	text-align: left;
}
