@{
    ViewData["Title"] = "CLI Download Page";
}

<div class="text-center">
    <h1 class="display-4">UML Editor: CLI Edition</h1>
    <p>
        If you'd prefer to use the C-Sharks UML Editor in Command-Line Interface mode instead of the GUI on the site,
        or you would just like an offline alternative, download the C-Sharks UML Editor: CLI Edition below.
    </p>

    <a class="btn btn-primary btn-lg" href="~/media/CLI.exe" download="CLI_Editor.exe" >Download</a>
    <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

</div>
