@model UML.Models.UserModel

@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h1>Sign up</h1>
        <h7>Create an account with the C-Sharks UML Editor below.</h7>
        <hr />
        <!-- to pass messages from controller to user-->
        @if (TempData["Message"] != null)
        {
            <span class="text-danger">@TempData["Message"]</span>
        }
        <!-- Form for capturing user information to create a new user-->
        <form asp-action="Signup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="_id" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="Username" class="form-control" placeholder="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        </br>
        <a asp-action="Index">Back to Login</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }